<% @companies.each do |company| %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= link_to company.name, company_path(company) %> &#124;
      <%= company.location %>
      <span class="details"><%= link_to "more...", company_path(company) %></span>
    </h3>
  </div>
  <div class="panel-body">
    <%= company.description %>
  </div>
</div>
<% end %>


<div class="footer navbar-fixed-bottom">
  <%= link_to "Create Company", new_company_path %>
</div>
