<div class="col-md-12 col-centered col-md-offset-5">
  <%= button_to "Create New Company", new_company_path, method: 'get', data: { no_turbolink: true }, class: 'btn btn-primary' %>
</div>
<br>
<% @companies.each do |company| %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= link_to company.name, company_path(company) %> &#124;
      <%= company.location %>
      <span class="details"><%= link_to "more...", company_path(company) %></span>
    </h3>
  </div>
  <div class="panel-body">
    <%= company.description %>
  </div>
</div>
<% end %>


<div class="footer navbar-fixed-bottom">
  <%= button_to "Create New Company", new_company_path, data: { no_turbolink: true }, class: 'btn btn-default' %>
</div>
