<div class="panel-group" id="accordion" role="tablist">
	<div class="panel panel-default">
		<div class="panel-heading clearfix" role="tab" id="headingOne">
			<h2 class="centered">
				<%= @company.name %>
      </h2>
      <div class="col-md-6 col-centered col-md-offset-4">
        <span class="margin-right-md"><%= @company.pretty_date %></span>
        <span class="margin-right-sm"><%= @company.location %></span>
        <span class="margin-right-sm">&#124;</span>
        <%= button_to "Edit Company", edit_company_path, method: "get", form: {style: 'display:inline-block;'}, class: 'btn btn-primary'%>
        <%= button_to "Delete Company", company_path, method: "delete", form: {style: 'display:inline-block;'}, class: 'btn btn-primary'%>
      </div>
		</div>
		<% if @company.logo? %>
	    <div class="col-md-8 margin-top-lg">
	      <%= @company.description %>
	    </div>
			<div class="col-md-4 margin-top-lg centered logo">
				<%= image_tag @company.logo.thumb.url %>
			</div>
		<% else %>
			<div class="col-md-10 col-centered col-md-offset-1 margin-top-lg">
				<%= @company.description %>
			</div>
		<% end %>
		<%= render "founders" %>
    <%= render "tags" %>
  <%= link_to "Back to Companies", companies_path, class: 'align-right' %>
</div>
